header{
    height: 390px;

    position: relative;

    display: grid;
    place-items: center;

    overflow-x: hidden;

    background: url('/assets/img/header/bckg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    padding: 20px 50px;

}

h1{
    position: relative;
    top: 50px;
    color: #f6f6f6;
}

p{color: #282828; text-align: center; align-self: end; font-size: 16px;}


.ellements img{
    position: absolute;
    left: 50%;
    top: 50%;
}

.ellements img:first-child{
    transform: translate(-630px, -50%);
}

.ellements img:nth-child(2){
    transform: translate(-350px, 20%);
}
.ellements img:nth-child(3){
    transform: translate(350px, -20%);
}
.ellements img:last-child{
    transform: translate(510px, -150%);
}

@media (max-width: 749px){
    header{
        padding: 10px 10px;
    }

    p{font-size: 14px;}
}

/* header img.bckg{
    position: absolute;
    width: 100%;
} */