
.pipes td span>ul{
    display: none;
    position: absolute;
    left: 0px;
}



.pipes{display: grid; row-gap: 20px; align-items: center;}

.pipes>div:first-child{
    display: grid;
    grid-template-columns: repeat(5, auto);
    column-gap: 7px;
    align-items: center;
}

.pipes >div:first-child .start{
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 9px;
    align-items: center;
}

.pipes>div:last-child{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9px;
}
.pipes .start .inp{width: 145px;}

.monthes{
    display: grid;
    column-gap: 20px;
    min-width: 325px;
    justify-self: center;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    font-size: 14px;
    font-weight: bold;
}

.monthes .circle{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: -1px 0px 13px rgba(0, 0, 0, .13);
    transition: .4s ;
    cursor: pointer;
    padding: 15px 12px 19px 14px;
}
.monthes .circle.prev{transform: scale(-1, -1);}
.monthes .circle.next{transform: scale(1, -1);}
.monthes .circle img{filter: brightness(.5);}
.monthes .circle:hover{
    background-color: #1b004e;
    box-shadow: none;
}
.monthes .circle:hover img{
    filter: brightness(1);
}


.calendar{
    display: grid;
    justify-self: center;
    column-gap: 5px;
    grid-template-columns: repeat(7, 162px);

    row-gap: 5px;
}


.day{
    border-radius: 30px;

    border: 3px solid #0484ac;

    padding-bottom: 15px;

    width: 162px;
    min-height: 180px;
    color: #0484ac;

    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 18px;
    align-items: center;
}
.day.active{height: 110%;}

.day.emptyDay{
    border: none !important;
    background: none !important;
}

.day.isLesson{
    border: 3px solid #00ba9f;
    background-color: #00ba9f;
    color: white;
}

.day.weekend{color: #f18225; border: 3px solid #f18225;}
.day.weekend.isLesson{
    background-color: #f18225;
    color: white;    
}

.day .date{
    justify-self: end;
    padding: 9px 9px 0px;
    font-size: 13px;
    line-height: 15px;
    font-weight: bold;
}

.day .info{
    display: grid;
    row-gap: 10px;
    justify-items: center;
    max-height: 100%;
    font-size: 11px;
    line-height: 13px;
    align-self: start;
}

.day .name{
    word-break: break-word;

    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;

    font-size: 10px;
    line-height: 12px;
}

.day a{text-align: center; font-size: 10px; line-height: 12px;}
.day a span{
    text-decoration: underline;
}

.day-lessons{
    grid-column: 1/8;
    display: none;
    grid-template-columns: repeat(3, 370px);
    column-gap: 15px;
    row-gap: 15px;
    /* transform-origin: top;
    transform: scale(1,0);
    transition: .4s; */

    padding: 10px 0px;
    /* height: 0px; */
}

.day-lessons.active{
    /* transform: scale(1,1); */
    display: grid;
    /* height: auto; */
}

.lesson{
    height: 290px;
    width: 370px;

    border-radius: 30px;
    padding: 14px 18px;

    box-shadow: 0px 0px 10px rgba(151, 151, 151, .28);

    grid-template-rows: repeat(6, auto) 1fr;
    display: grid;
    row-gap: 15px;
    
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    position: relative;
}
.lesson .direction{
    color: #00ba9f;
}
.lesson .name{font-size: 13px;}
.lesson .dataName{color: #00ba9f;}
.lesson .btns{display: grid; align-items: center; align-self: end; grid-template-columns: 1fr auto; padding-bottom: 5px;}
.lesson .btns a:first-child{font-weight: normal; color: #00ba9f; justify-self: start;}

.lesson .btns .btn{font-size: 14px; line-height: 12px; padding: 14px 12px;}
.lesson .directionImg{
    position: absolute;
    top: 20px;
    right: 15px;

    padding: 9px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #00ba9f;
    box-sizing: border-box;
}

.row-1{grid-row: 2/3;}
.row-2{grid-row: 3/4;}
.row-3{grid-row: 4/5;}
.row-4{grid-row: 5/6;}
.row-5{grid-row: 6/7;}

img.bckg{position: absolute; bottom: -120px; width: 50%; z-index: -1; left: 50%; transform: translate(-50%, 0%); pointer-events: none;}
img.planet{
    position: absolute;
    bottom: -100px;
    right: 100px;
}