
.pipes td span>ul{
    display: none;
    position: absolute;
    left: 0px;
}



.pipes{display: grid; row-gap: 15px; align-items: center;}
.pipes .first-row span:nth-child(2){min-width: 315px;}
.pipes .first-row span:nth-child(3) {min-width: 225px;}

.pipes>div:first-child{
    display: grid;
    grid-template-columns: repeat(5, auto);
    row-gap: 15px;
    column-gap: 7px;
    align-items: center;
}
.day a.phone{display: none;}

.pipes >div:first-child .start{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 9px;
    align-items: center;
    justify-items: end;
}
.pipes >div:first-child .start label{
    font-weight: bold;
    font-size: 18px;
}

.pipes>div:last-child{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9px;
}
.pipes .start .inp{width: 95px;}
.pipes .btn{margin-bottom: 5px;}

.monthes{
    display: grid;
    column-gap: 20px;
    min-width: 325px;
    justify-self: center;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-weight: bold;
}

.monthes .circle{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    box-shadow: -1px 0px 13px rgba(0, 0, 0, .13);
    transition: .4s ;
    cursor: pointer;
    padding: 15px 12px 19px 14px;
}
.monthes .circle.prev{transform: scale(-1, -1);}
.monthes .circle.next{transform: scale(1, -1);}
.monthes .circle img{filter: brightness(.5);}
.monthes .circle:hover{
    background-color: #1b004e;
    box-shadow: none;
}
.monthes .circle:hover img{
    filter: brightness(1);
}


.calendar{
    display: grid;
    justify-self: center;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-columns: repeat(7, auto);

}

.week-day{
    font-size: 16px;
    padding-bottom: 17px;
    text-align: center;
}
.week-day.short{display: none;}

.day{
    border-radius: 30px;

    border: 3px solid #0484ac;

    padding-bottom: 15px;

    width: 162px;
    min-height: 180px;
    color: #0484ac;

    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 18px;
    align-items: center;
}
.day.active{height: 110%;}


.day.emptyDay{
    border: none !important;
    background: none !important;
}

.day.isLesson{
    border: 3px solid #00ba9f;
    background-color: #00ba9f;
    color: white;
}

.day.weekend{color: #f18225; border: 3px solid #f18225;}
.day.weekend.isLesson{
    background-color: #f18225;
    color: white;    
}

.day .date{
    justify-self: end;
    padding: 9px 9px 0px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.day .info{
    display: grid;
    row-gap: 10px;
    justify-items: center;
    max-height: 100%;
    font-size: 14px;
    line-height: 16px;
    align-self: start;
}

.day .name{
    word-break: break-word;

    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;

    font-size: 14px;
    line-height: 16px;

    justify-self: stretch;
    text-align: center;
}

.day a{text-align: center; font-size: 14px; line-height: 14px; align-self: end;}
.day a span{
    text-decoration: underline;
}

.day-lessons{
    grid-column: 1/8;
    display: none;
    grid-template-columns: repeat(3, 370px);
    column-gap: 15px;
    row-gap: 15px;
    /* transform-origin: top;
    transform: scale(1,0);
    transition: .4s; */

    padding: 10px 0px;
    /* height: 0px; */
}

.day-lessons.active{
    /* transform: scale(1,1); */
    display: grid;
    /* height: auto; */
}

.lesson{
    height: 290px;
    width: 370px;

    border-radius: 30px;
    padding: 14px 15px;

    box-shadow: 0px 0px 10px rgba(179, 94, 94, 0.28);
    background-color: #ffffff;
    grid-template-rows: 1fr auto auto auto;
    display: grid;
    row-gap: 5px;
    
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    position: relative;
}
.lesson .head{display: grid; align-self: start; grid-template-columns: 1fr 54px; grid-template-rows: auto auto 1fr; row-gap: 5px; column-gap: 1px;}

.lesson .head .direction{
    color: #00ba9f;
}
.lesson .head .name{font-size: 18px; align-self: start; line-height: 18px; max-height: 70px; overflow: hidden; }

.lesson .head .directionImg{
    grid-row: 1/4;
    grid-column: 2/3;
    padding: 9px;
    height: 54px;
    width: 54px;
    border-radius: 50%;
    background-color: #00ba9f;
    box-sizing: border-box;
}
.lesson .dataName{color: #00ba9f;}
.lesson .btns{display: grid; align-items: center; align-self: end; grid-template-columns: 1fr auto; padding-bottom: 5px;}
.lesson .btns a:first-child{font-weight: normal; color: #00ba9f; justify-self: start;}

.lesson .btns .btn{font-size: 18px; line-height: 12px; padding: 14px 12px;}

.row-1{grid-row: 3/4;}
.row-2{grid-row: 4/5;}
.row-3{grid-row: 5/6;}
.row-4{grid-row: 6/7;}
.row-5{grid-row: 7/8;}

img.bckg{position: absolute; bottom: -120px; width: 50%; z-index: -1; left: 50%; transform: translate(-50%, 0%); pointer-events: none;}
img.planet{
    position: absolute;
    bottom: -100px;
    right: 100px;
}


@media (max-width: 1200px) {
    .pipes > div:first-child{
        grid-template-columns: repeat(3, auto);
    }

    .pipes > div:first-child> :last-child{
        grid-column: 3/4;
    }
    .pipes > div:first-child> :nth-child(4){
        grid-column: 2/3;
    }

    .day{
        min-height: 112px;
        width: 100px;
        grid-template-rows: auto 1fr;
    }
    .day-lessons{
        grid-template-columns: repeat(2, 1fr);
    }

    .week-day{font-size: 15px;}
    
    .lesson{
        min-height: 290px;
        width: 340px;
        box-sizing: border-box;
    }
    

    .day .info{display: none;}
}

@media (max-width: 739px){
    .pipes{row-gap: 10px;}
    .pipes>div{row-gap: 10px;}
    .pipes > div:first-child{
        grid-template-columns: repeat(2, auto);
    }

    .pipes > div:first-child> :first-child{
        grid-column: 1/3;
    }
    .pipes > div:first-child> :nth-child(2){
        grid-column: 1/3;
    }
    .pipes > div:first-child> :nth-child(3){
        grid-column: 1/3;
    }
    .pipes > div:first-child> .start label{
        font-size: 14px;
    }
    
    .pipes .first-row span:nth-child(2){min-width: auto;}
    .pipes .first-row span:nth-child(3) {min-width: auto;}


    .monthes{min-width: auto; padding: 0px 15px; width: 100%; row-gap: 5px;}
    .calendar{
        padding: 5px;
        grid-template-columns: repeat(7, 1fr);
        justify-self: stretch;
        column-gap: 1px;
    }

    .day{width: auto; max-width: 80px; max-height: 90px; min-height: auto; grid-template-rows: auto 1fr; align-items: center;}
    .day .date{justify-self: center; padding: 9px 0px 0px;}
    .day .info{display: none;}
    .day a{font-size: 11px;}
    
    .pipes > div .start{
        justify-self: center;
    }
    .pipes > div:last-child{
        grid-template-columns: auto;
    }
    .pipes > div:first-child > :nth-child(4){grid-column: auto;}
    .pipes > div:first-child > :last-child{grid-column: auto;}

    .week-day.full{display: none;}
    .week-day.short{display: block;}

    img.bckg{bottom: -30px;}
    .day .phone{display: none;}

    .day-lessons{grid-template-columns: repeat(2, 1fr); row-gap: 5px; column-gap: 5px;}
    .lesson{font-size: 11px; width: auto; height: auto; min-height: auto; padding: 10px;}
    .lesson .head .directionImg{display: none;}
    .lesson .head{grid-template-rows: auto; grid-template-columns: auto;}
    .lesson .head .name{ font-size: 14px; line-height: 14px;}
    .lesson .btns{row-gap: 5px; grid-template-columns: auto; justify-items: center;}
    .lesson .btns a:first-child{justify-self: center;}
    .lesson .btns .btn {
        font-size: 14px;
        line-height: 12px;
        padding: 8px 12px;
        grid-row: 1/2;
    }
}

@media (max-width: 330px){
    .pipes > div:first-child> .start{grid-template-columns: auto;}
    .pipes > div:first-child> .start label{
        display: none;
    }
    .pipes > div:first-child> .start input{
        justify-self: center;
    }
    .day a{font-size: 9px;}
    .day .phone{display: block;}
    .day .pc{display: none;}

}