<nav>
    <img src="" alt="Coddy" class="logo">
    <select name="city" id="city" class="standart-btn">
        <option value="all">Все города</option>
    </select>

    <ul>
        <li>
            <a href="/">О нас</a>
        </li>
        <li>
            <a href="/">Курсы</a>
        </li>
        <li>
            <a href="/">FAQ</a>
        </li>
        <li>
            <a href="/">Партнеры</a>
        </li>
        <li>
            <a href="/">Контакты</a>
        </li>
        <li>
            <a href="/">Расписание</a>
        </li>
        <li>
            <a href="/">Записаться</a>
        </li>
        <li>
            <a href="/">En</a>
        </li>
    </ul>

</nav>