app-header{justify-self: stretch;}

main{
    /* height: 1000px; */
    padding: 35px 0px 0px;
    display: grid;
    row-gap: 90px;

    /* background-image: url('/assets/img/main/bckg-rocket.png'); */
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    position: relative;

    justify-items: center;
}

main img{
    position: absolute;
    bottom: 500px;
    right: 100px;
}

app-table{
    display: grid;
    row-gap: 40px;
    position: relative;
}
app-foot{
    width: 100%;
    position: relative;
}